body{
    font-family: 'Roboto', sans-serif;
}

.header, .footer {
    height: 72px;
    background-color: #1f2937;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}