body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

.header, .footer {
    height: 72px;
    background-color: #1f2937;
    color: white;
}

/* header section */

.header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 0 200px;
    
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.header-links, .title-text {
    font-size: 18px;
    color: #e5e7eb;
}

/* title section */

#title{
    background-color: #1f2937;
    padding: 0 200px;
}

.title-content{
    display: flex;
}

.title-left{
    display: flex;
    flex-direction: column;
}

.title-heading{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.title-image{
    height:237px;
    width: 522px;
    background-color: gray;
}            